body {background-color: rgb(255, 255, 255);
}

h1 {text-align: center;
}

h2 {margin-left: 8%;
}

#ima1 {margin-left: 12%;
    border-style: groove;
    border-width: 7px;
    border-color: rgb(255, 255, 255)
}

#ima2 {margin-left: 12%;
    border-style: groove;
    border-width: 7px;
    border-color: rgb(255, 255, 255)
}

#ima1 {width: 35%;
}

#ima2 {width: 43%;
}

h1 {background-color: rgb(255, 255, 255);
color: white;
border-style: groove;
border-width: 5px
}

h2 {color: rgb(255, 255, 255);
}

h3 {color: rgb(255, 255, 255);
    font-size: 150%;
    margin-left: 8%;
}

h4 {color: rgb(255, 255, 255);
    font-size: 150%;
    margin-left: 8%;
}


h2 {border-style: initial;
border-width: 12px;}